body {
  background-color: transparent !important;
}
.row {
  margin-left: 43% !important;
}

.text-align {
  text-align: center;
  padding: 20px;
}

.col-centered {
  margin: auto;
  width: 50%;
  border: 2px solid ;
  padding-left: 10px !important;
  background-color: whitesmoke;
  border-radius: 50px 50px 50px 50px;
}

.center-align {
  padding-left: 39%;
  padding-bottom: 8%;
}