$primaryColor: #eeffcc;

.row {
  margin-left: 43% !important;
}

.text-align {
  text-align: center;
  padding: 20px;
}

.col-centered {
  margin-top: 100px;
  width: 50%;
  border: 1px solid;
  padding-left: 10px !important;
}

.center-align {
  padding-left: 39%;
  padding-bottom: 8%;
}